<mat-toolbar color="primary" role="heading">
  <span>
    My Application
  </span>
  <span class="spacer"></span>
  <span>
    <a mat-button routerLink="/">Home</a>
    <a mat-button routerLink="/admin">Admin</a>
    <a mat-button routerLink="/editor">Editor</a>
    <a mat-button routerLink="/register">Register</a>
    <a mat-button routerLink="/login">Login</a>
  </span>
</mat-toolbar>

<button id="logout-button" mat-flat-button color="warn" (click)="auth.logout()" *ngIf="auth.loggedIn">Logout</button>

<router-outlet></router-outlet>
